/.venv
.DS_Store
__pycache__/
*.pyc 
airfrans_dataset
skeleton
AirfRANS*
.conda
comparison_images
raw_data_images
raw_data_images_clipped
LPIPS_custom/weights
vgg16_finetuned_remeshed.h5
vgg16_finetuned_remeshed.pth
vgg16_finetuned_remeshed_test.h5
.gitignore
skeleton_paths.svg
vgg16_finetuned_remeshed_test.pth
image_af
*.h5
*.pth
*.png
*.bib